*.pyc
*__pycache__
apps/*/migrations/
apps/**/migrations/
historias_usuario/settings.py
configuracionBD.json
media/
.idea/
static_collected/
settings.py
.env/
env/
historias_usuario/.env
historias_usuario/env/