{% extends 'index.html' %}

{% load bootstrap3 %}
{% load staticfiles %}


{% block titulo %} Registrar historia {% endblock titulo %}


{% block contenido %}
<div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Registrar historia</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
 
                    </ol>
                </div>
            </div>

<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" enctype="multipart/form-data" action="" method="post" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="col-md-12 col-sm-12 ">{% for campo in form %}
            {% bootstrap_field campo layout='horizontal' %}
        {% endfor %}

                                        </div>
 
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-success">Registrar</button>
                                                <button onclick="window.history.back();" class="btn btn-black">Cancelar</button>
                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
{% endblock contenido %}

