{% extends 'index.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} 
    Perfil  
{% endblock titulo %}

{% block panel_navegacion %}
{% endblock %}

{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del usuario al modal de confirmación
        $(".cambiar-estado").on('click',function(e){
            var url = $(this).attr('data-url');
            var nombre = $(this).data('usuario-nombre');
            var username = $(this).data('usuario-username');
            $(".usuario-nombre").text(nombre);
            $(".usuario-username").text(username);
            $("#confirmar-cambio").attr('href',url);
        });

    </script>
{% endblock js_propios %}

{% block contenido %}
<!-- PERFIL DE USUARIO -->
    <div class="container-fluid" >
        <!-- Start Page Content -->
        <div class="row" >
            <!-- Column -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="card">
                    <div class="card-body">
                        <div class="card-two">
                            <header>
                                <div class="avatar">
                                    <img src="{% if usuario.foto_perfil %} {{ MEDIA_URL }}{{ usuario.foto_perfil }}
                                    {% else %}
                                    {% static 'images/users/2.jpg' %}
                                    {% endif %}" alt="Foto usuario" >
                                </div>
                            </header>
                                
                            <h3>{{usuario.first_name}} {{usuario.last_name}}</h3> 
                            <p align="center">{{usuario.cargo}}</p>                            
                            <div class="desc">
                                {% if user.cargo == "Administrador" or user == usuario %}
                                    <button type="submit" class="btn btn-success" ><a href="{% url 'usuario_modificar' usuario.id %}">Modificar perfil</a>
                                    </button>
                                {% endif %}

                                {% if user.cargo == "Administrador"%}
                                    <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                   data-url="{% if usuario.is_active %}
                                                {% url 'inactivar_usuario' usuario.id %}
                                            {% else %}
                                                {% url 'activar_usuario' usuario.id %}
                                            {% endif %}
                                            "
                                   data-usuario-nombre="{{ usuario }}"
                                   data-usuario-username="{{ usuario.username }}"
                                   class="btn btn {% if usuario.is_active %}btn-danger
                                   {% else %}
                                   btn-success
                                   {% endif %} cambiar-estado" >
                                    {% if usuario.is_active %}
                                        Desactivar usuario
                                    {% else %}
                                        Activar usuario
                                    {% endif %}
                                    </a> 

                                {% endif %}
                                    <h4><b>Acerca de mi</b></h4>
                                    <p align="center">{{usuario.acerca_de_mi}}</p>
                                    <p align="center">{{usuario.skills.all|join:", "}}</p><hr>
                                    <p align="center">{{usuario.email}}</p>
                                    <p align="center">{{usuario.enfoque}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <!-- End PAge Content -->
        </div>
    </div>
    <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar el estado del usuario</h4>  
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea cambiar de estado el usuario?</p>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-success">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

